---
layout: blank
---
    <div class="hero">
      <div class="page-body">
        <div class="hero-title">
          <img src="/img/cyclejs_logo.svg" alt="CycleConf logo" class="hero-logo">
          <h1>CycleConf</h1>
          <h2>21st – 23rd of April</h2>
          <h2>Stockholm</h2>
          <h3 class="ticket"><a href="http://cycleconf.com/#tickets">Get your ticket here!</a></h3>
        </div>
      </div>
    </div>
    <div class="page-body">
      <div class="features">
        {% capture homepage %}{% include homepage-content.md %}{% endcapture %}
        {{ homepage | markdownify }}

      </div>

      {% include footer.html %}
    </div>
