---
layout: blank
---
    <div class="hero">
      <div class="page-body">
        <div class="hero-title">
          <img src="/img/cyclejs_logo.svg" alt="Cycle.js logo" class="hero-logo"/>
          <h1>CycleConf 2016</h1>
        </div>
      </div>
    </div>
    <div class="page-body">
      <div class="features">
        {% capture homepage %}{% include homepage-content.md %}{% endcapture %}
        {{ homepage | markdownify }}
        <h2 class="homepage-bottom-cta"><a href="/getting-started.html">Read the docs</a></h2>
      </div>

      {% include footer.html %}
    </div>
